<%- include ("header.ejs") %>

    <!-- Page Header Start -->
    <div class="container-fluid page-header d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5 mb-5">
        <h1 class="display-4 text-white mb-3 mt-0 mt-lg-5">Services</h1>
        <div class="d-inline-flex text-white">
            <p class="m-0"><a class="text-white" href="">Home</a></p>
            <p class="m-0 px-2">/</p>
            <p class="m-0">Services</p>
        </div>
    </div>
    <!-- Page Header Start -->


    <!-- Services Start -->
    <div class="container-fluid pt-5 pb-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6 text-center mb-5">
                    <small class="bg-primary text-white text-uppercase font-weight-bold px-1">What we do</small>
                    <h1 class="mt-2 mb-3">We Offer Creative Services</h1>
                    <h4 class="font-weight-normal text-muted mb-4">Lorem ut kasd dolores elitr sed est duo ea ipsum
                        justo diam, est erat lorem. Est magna sea clita diam tempor elitr</h4>
                    <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">Discover More</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="d-flex">
                        <i class="fa fa-3x fa-laptop-code text-primary mr-4"></i>
                        <div class="d-flex flex-column">
                            <h4 class="font-weight-bold mb-3">Web Design</h4>
                            <p>Et kasd justo clita amet kasd, vero amet vero eos kasd diam justo, ipsum diam sed elitr
                                erat</p>
                            <a class="font-weight-semi-bold" href="">Read More <i
                                    class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="d-flex">
                        <i class="fa fa-3x fa-code text-primary mr-4"></i>
                        <div class="d-flex flex-column">
                            <h4 class="font-weight-bold mb-3">Development</h4>
                            <p>Et kasd justo clita amet kasd, vero amet vero eos kasd diam justo, ipsum diam sed elitr
                                erat</p>
                            <a class="font-weight-semi-bold" href="">Read More <i
                                    class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="d-flex">
                        <i class="fa fa-3x fa-envelope-open-text text-primary mr-4"></i>
                        <div class="d-flex flex-column">
                            <h4 class="font-weight-bold mb-3">Marketing</h4>
                            <p>Et kasd justo clita amet kasd, vero amet vero eos kasd diam justo, ipsum diam sed elitr
                                erat</p>
                            <a class="font-weight-semi-bold" href="">Read More <i
                                    class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="d-flex">
                        <i class="fa fa-3x fa-chart-line text-primary mr-4"></i>
                        <div class="d-flex flex-column">
                            <h4 class="font-weight-bold mb-3">Strategy</h4>
                            <p>Et kasd justo clita amet kasd, vero amet vero eos kasd diam justo, ipsum diam sed elitr
                                erat</p>
                            <a class="font-weight-semi-bold" href="">Read More <i
                                    class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="d-flex">
                        <i class="fa fa-3x fa-search text-primary mr-4"></i>
                        <div class="d-flex flex-column">
                            <h4 class="font-weight-bold mb-3">SEO</h4>
                            <p>Et kasd justo clita amet kasd, vero amet vero eos kasd diam justo, ipsum diam sed elitr
                                erat</p>
                            <a class="font-weight-semi-bold" href="">Read More <i
                                    class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="d-flex">
                        <i class="fa fa-3x fa-pen text-primary mr-4"></i>
                        <div class="d-flex flex-column">
                            <h4 class="font-weight-bold mb-3">Content Writing</h4>
                            <p>Et kasd justo clita amet kasd, vero amet vero eos kasd diam justo, ipsum diam sed elitr
                                erat</p>
                            <a class="font-weight-semi-bold" href="">Read More <i
                                    class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->


    <!-- Testimonial Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5">
                    <small class="bg-primary text-white text-uppercase font-weight-bold px-1">What clients say</small>
                    <h1 class="mt-2 mb-3">Clients Say About Our Services</h1>
                    <h4 class="font-weight-normal text-muted mb-4">Lorem ut kasd elitr sed est duo ea ipsum justo diam, est erat lorem clita diam elitr</h4>
                    <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">Submit Review</a>
                </div>
                <div class="col-lg-8 mb-5">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item">
                            <div class="testimonial-text position-relative border mb-4" style="padding: 25px 30px;">
                                Sed ea amet kasd elitr stet nonumy, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolores tempor voluptua ipsum sanctus clita
                            </div>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid rounded-circle" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;" alt="Image">
                                <div class="pl-4">
                                    <h6 class="font-weight-bold">Client Name</h6>
                                    <i class="text-muted">Profession</i>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-text position-relative border mb-4" style="padding: 25px 30px;">
                                Sed ea amet kasd elitr stet nonumy, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolores tempor voluptua ipsum sanctus clita
                            </div>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid rounded-circle" src="img/testimonial-2.jpg" style="width: 80px; height: 80px;" alt="Image">
                                <div class="pl-4">
                                    <h6 class="font-weight-bold">Client Name</h6>
                                    <i class="text-muted">Profession</i>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-text position-relative border mb-4" style="padding: 25px 30px;">
                                Sed ea amet kasd elitr stet nonumy, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolores tempor voluptua ipsum sanctus clita
                            </div>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid rounded-circle" src="img/testimonial-3.jpg" style="width: 80px; height: 80px;" alt="Image">
                                <div class="pl-4">
                                    <h6 class="font-weight-bold">Client Name</h6>
                                    <i class="text-muted">Profession</i>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-text position-relative border mb-4" style="padding: 25px 30px;">
                                Sed ea amet kasd elitr stet nonumy, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolores tempor voluptua ipsum sanctus clita
                            </div>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid rounded-circle" src="img/testimonial-4.jpg" style="width: 80px; height: 80px;" alt="Image">
                                <div class="pl-4">
                                    <h6 class="font-weight-bold">Client Name</h6>
                                    <i class="text-muted">Profession</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

<%- include ("footer.ejs") %>
